@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

input,
button,
textarea,
::placeholder {
  font-family: inherit;
}

::placeholder {
  color: inherit;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
button:active, button:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  background-color: #fff;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@keyframes anim {
  0% {
    border-color: rgba(255, 255, 255, 0.5);
  }
  25% {
    border-color: salmon;
  }
  50% {
    border-color: rebeccapurple;
  }
  75% {
    border-color: rosybrown;
  }
  100% {
    border-color: orange;
  }
}
.footer {
  flex: 0 0 auto;
}

.btn {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 14px;
  line-height: 157.1428571429%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid #fff;
  height: 60px;
  min-width: 200px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

._icon {
  fill: #fff;
  width: 12px;
  height: 12px;
}

._hip-1 {
  line-height: 157.1428571429%;
  text-transform: uppercase;
  cursor: pointer;
}

.social {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 10;
  right: 100px;
  bottom: 50px;
}
.social__list {
  display: flex;
  align-items: center;
}
.social__item:not(:last-child) {
  margin: 0px 50px 0px 0px;
}
.social__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.social__link ._icon {
  width: 25px;
  height: 25px;
  transition: fill 0.3s ease 0s;
}
@media (min-width: 992px) {
  .social__link ._icon:hover {
    fill: aqua;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: transparent;
}
.header__container {
  max-width: 1705px;
}
.header__inner {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
.header__menu {
  flex: 1 1 auto;
}
.header__button {
  display: none;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__item {
  position: relative;
  padding: 5px 0;
}
.menu__item:not(:last-child) {
  margin: 0px 40px 0px 0px;
}
@media (min-width: 992px) {
  .menu__item:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
  }
  .menu__item:hover .menu__arrow {
    transform: rotate(-180deg);
  }
}
.menu__link {
  line-height: 157.1428571429%;
  text-transform: uppercase;
  position: relative;
}
.menu__link--services::after {
  display: none;
}
.menu__link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  background-color: #fff;
  height: 1px;
  width: 0;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
@media (min-width: 992px) {
  .menu__link:hover::after {
    width: 100%;
    left: 0;
  }
}
.menu__arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 0px 5px;
  transition: transform 0.3s ease 0s;
}
.menu__sub-list {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 101;
  background-color: transparent;
  pointer-events: none;
  padding: 0px 0px 5px 0px;
  transition: all 0.3s ease 0s;
}
.menu__sub-list._active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}
.menu__sub-item:not(:last-child) {
  margin: 0px 0px 6px 0px;
}
.menu__sub-link {
  line-height: 157.1428571429%;
  text-transform: uppercase;
  position: relative;
}
.menu__sub-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  background-color: #fff;
  height: 1px;
  width: 0;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
@media (min-width: 992px) {
  .menu__sub-link:hover::after {
    width: 100%;
    left: 0;
  }
}

.info-header {
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 60px;
}
.info-header svg {
  margin: 0px 0px 0px 5px;
  cursor: pointer;
  transition: transform 0.3s ease 0s;
}
.info-header__column {
  position: relative;
  padding: 5px 0;
}
.info-header__column:not(:last-child) {
  margin: 0px 100px 0px 0px;
}
.info-header__column._show .info-header__submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}
.info-header__column._show ._icon {
  transform: rotate(-180deg);
}
.info-header__submenu {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  position: absolute;
  top: 100%;
  left: 0;
  width: auto;
  z-index: 101;
  background-color: transparent;
  pointer-events: none;
  padding: 0px 0px 5px 0px;
  transition: all 0.3s ease 0s;
}
.info-header__item:not(:last-child) {
  margin: 0px 0px 6px 0px;
}
.info-header__link {
  line-height: 157.1428571429%;
  text-transform: uppercase;
  position: relative;
}
.info-header__link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  background-color: #fff;
  height: 1px;
  width: 0;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
@media (min-width: 992px) {
  .info-header__link:hover::after {
    width: 100%;
    left: 0;
  }
}

.intro {
  min-height: 100vh;
  display: flex;
  position: relative;
}
.intro::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1170px;
  height: 600px;
  z-index: 2;
  background-image: url(../img/intro/dots.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.intro__container {
  flex: 1 1 auto;
  display: flex;
  position: relative;
  z-index: 5;
}
.intro__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}
.intro__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 550px;
}
.intro__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 114.2857142857%;
  letter-spacing: 8px;
}
@media (max-width: 1200px) {
  .intro__title {
    font-size: calc(24px + 18 * ((100vw - 320px) / 880));
  }
}
.intro__title:not(:last-child) {
  margin: 0px 0px 0.3571428571em 0px;
}
.intro__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 122.2222222222%;
}
@media (max-width: 1200px) {
  .intro__text {
    font-size: calc(16px + 2 * ((100vw - 320px) / 880));
  }
}
.intro__btn {
  margin: 20px 0px 0px 0px;
}
@media (min-width: 992px) {
  .intro__btn:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
}

.page {
  flex: 1 1 auto;
}