@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

::-webkit-input-placeholder {
  font-family: inherit;
}

::-moz-placeholder {
  font-family: inherit;
}

:-ms-input-placeholder {
  font-family: inherit;
}

::-ms-input-placeholder {
  font-family: inherit;
}

input,
button,
textarea,
::placeholder {
  font-family: inherit;
}

::-webkit-input-placeholder {
  color: inherit;
}

::-moz-placeholder {
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

::-ms-input-placeholder {
  color: inherit;
}

::placeholder {
  color: inherit;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

button:active,
button:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  background-color: #fff;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@-webkit-keyframes anim {
  0% {
    border-color: rgba(255, 255, 255, 0.5);
  }

  25% {
    border-color: salmon;
  }

  50% {
    border-color: rebeccapurple;
  }

  75% {
    border-color: rosybrown;
  }

  100% {
    border-color: orange;
  }
}

@keyframes anim {
  0% {
    border-color: rgba(255, 255, 255, 0.5);
  }

  25% {
    border-color: salmon;
  }

  50% {
    border-color: rebeccapurple;
  }

  75% {
    border-color: rosybrown;
  }

  100% {
    border-color: orange;
  }
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

section {
  overflow: hidden;
  position: relative;
}

.section-inside-wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 14px;
  line-height: 157.1428571429%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
  height: 60px;
  min-width: 200px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.input {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 14px;
  line-height: 157.1428571429%;
  border: 2px solid #fff;
  color: #fff;
  height: 60px;
  padding: 0 25px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.input::-webkit-input-placeholder {
  text-transform: uppercase;
}

.input::-moz-placeholder {
  text-transform: uppercase;
}

.input:-ms-input-placeholder {
  text-transform: uppercase;
}

.input::-ms-input-placeholder {
  text-transform: uppercase;
}

.input::placeholder {
  text-transform: uppercase;
}

.input._error {
  border-top-color: red;
  border-left-color: red;
  border-bottom-color: red;
}

._icon {
  fill: #fff;
  width: 12px;
  height: 12px;
}

._hip-1 {
  line-height: 157.1428571429%;
  text-transform: uppercase;
  cursor: pointer;
}

._title {
  font-weight: 700;
  font-size: 42px;
  line-height: 114.2857142857%;
  letter-spacing: 6px;
  color: #fff;
}

._text {
  font-weight: 300;
  font-size: 18px;
  line-height: 122.2222222222%;
  color: #fff;
}

._contacts-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  margin: 0px 0px 3px 0px;
}

._contacts-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 1;
  color: #fff;
}

._contacts-text:not(:last-child) {
  margin: 0px 0px 3px 0px;
}

.pagination {
  position: fixed;
  left: 0;
  bottom: 50px;
  width: 100%;
  height: auto;
  padding: 0 80px;
  z-index: 100;
  background-color: transparent;
  pointer-events: none;
}

.pagination__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.arrows-nav {
  pointer-events: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrows-nav__arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrows-nav__arrow:not(:last-child) {
  margin: 0px 45px 0px 0px;
}

.arrows-nav__arrow:first-child {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.arrows-nav__arrow ._icon {
  fill: #fff;
  width: 25px;
  height: 22px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: auto;
}

.social-list__item:not(:last-child) {
  margin: 0px 50px 0px 0px;
}

.social-list__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__link ._icon {
  width: 25px;
  height: 25px;
  -webkit-transition: fill 0.3s ease 0s;
  -o-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
}

.scrollbar {
  position: fixed;
  z-index: 1000;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 100px;
}

.scrollbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scrollbar__item:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.scrollbar__item.active .scrollbar__point {
  background-color: #fff;
}

.scrollbar__point {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: transparent;
}

.header__container {
  max-width: 1705px;
}

.header__inner {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__button {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  position: relative;
  padding: 5px 0;
}

.menu__item:not(:last-child) {
  margin: 0px 40px 0px 0px;
}

.menu__link {
  line-height: 157.1428571429%;
  text-transform: uppercase;
  position: relative;
}

.menu__link--services::after {
  display: none;
}

.menu__link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  background-color: #fff;
  height: 1px;
  width: 0;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.menu__arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 0px 5px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.menu__sub-list {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 150px;
  z-index: 101;
  background-color: transparent;
  pointer-events: none;
  padding: 0px 0px 5px 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__sub-list._active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  pointer-events: auto;
}

.menu__sub-item:not(:last-child) {
  margin: 0px 0px 6px 0px;
}

.menu__sub-link {
  line-height: 157.1428571429%;
  position: relative;
}

.menu__sub-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  background-color: #fff;
  height: 1px;
  width: 0;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 0px 60px;
}

.info-header svg {
  margin: 0px 0px 0px 5px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.info-header__column {
  position: relative;
  padding: 5px 0;
}

.info-header__column:not(:last-child) {
  margin: 0px 60px 0px 0px;
}

.info-header__column._show .info-header__submenu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  pointer-events: auto;
}

.info-header__column._show ._icon {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.info-header__submenu {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  position: absolute;
  top: 100%;
  left: 0;
  width: auto;
  z-index: 101;
  background-color: transparent;
  pointer-events: none;
  padding: 0px 0px 5px 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.info-header__item:not(:last-child) {
  margin: 0px 0px 6px 0px;
}

.info-header__link {
  line-height: 157.1428571429%;
  position: relative;
}

.info-header__link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  background-color: #fff;
  height: 1px;
  width: 0;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.intro::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1170px;
  height: 600px;
  z-index: 4;
  background-image: url(../img/intro/dots.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.intro__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 5;
}

.intro__picture img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro__picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  z-index: 3;
  background-color: #000;
}

.intro__picture::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}

.intro__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 550px;
}

.intro__title:not(:last-child) {
  margin: 0px 0px 0.3571428571em 0px;
}

.intro__btn {
  margin: 20px 0px 0px 0px;
}

.about::before {
  content: "";
  position: absolute;
  top: -135px;
  right: -140px;
  width: 725px;
  height: 725px;
  z-index: 4;
  background-image: url(../img/about/circle.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}

.about::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1000px;
  height: 260px;
  z-index: 4;
  background-image: url(../img/about/dots.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}

.about__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 5;
}

.about__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 550px;
}

.about__title:not(:last-child) {
  margin: 0px 0px 0.3571428571em 0px;
}

.about__text p:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.about__btn {
  margin: 20px 0px 0px 0px;
}

.about__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  z-index: 3;
  background-color: #000;
}

.about__picture::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}

.services::before {
  content: "";
  position: absolute;
  left: 350px;
  bottom: -550px;
  -webkit-transform: translateY(-25%);
      -ms-transform: translateY(-25%);
          transform: translateY(-25%);
  width: 725px;
  height: 725px;
  z-index: 4;
  background-image: url(../img/services/dots.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.services__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 5;
}

.services__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__title:not(:last-child) {
  margin: 0px 0px 1.7857142857em 0px;
}

.services__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  gap: 78px;
}

.services__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  z-index: 3;
  background-color: #000;
}

.services__picture::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}

.item-services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-services__image {
  width: 45px;
  height: 45px;
  margin: 0px 25px 0px 0px;
}

.item-services__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 300;
  font-size: 18px;
  line-height: 122.2222222222%;
  text-transform: uppercase;
}

.item-services__body {
  margin: 20px 0px 0px 0px;
}

.item-services__text {
  font-weight: 300;
  line-height: 128.5714285714%;
}

.projects::before {
  content: "";
  position: absolute;
  top: -550px;
  right: 100px;
  width: 725px;
  height: 725px;
  z-index: 4;
  background-image: url(../img/projects/dots-1.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}

.projects::after {
  content: "";
  position: absolute;
  left: -180px;
  bottom: 0;
  width: 725px;
  height: 725px;
  z-index: 4;
  background-image: url(../img/projects/dots-2.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}

.projects__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 5;
}

.projects__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 0;
}

.projects__title:not(:last-child) {
  margin: 0px 0px 1.3095238095em 0px;
}

.projects__items {
  width: 100%;
}

.projects__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects__picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  z-index: 3;
  background-color: #000;
}

.projects__picture::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}

.projects .paginations-slider {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  pointer-events: none;
  z-index: 10;
}

.projects .paginations-slider__arrow-prev ._icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.projects .slider-arrow {
  width: 35px;
  height: 55px;
  background-color: #000;
  pointer-events: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .slider-arrow ._icon {
  fill: #fff;
  width: 22px;
  height: 22px;
}

.item-projects__picture {
  display: block;
  overflow: hidden;
  padding: 0px 0px 135.1351351351% 0px;
  position: relative;
}

.item-projects__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-projects__body {
  margin: 20px 0px 0px 0px;
}

.item-projects__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 122.2222222222%;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.holiday::before {
  content: "";
  position: absolute;
  top: -550px;
  right: 100px;
  width: 725px;
  height: 725px;
  z-index: 4;
  background-image: url(../img/holiday/dots-1.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}

.holiday::after {
  content: "";
  position: absolute;
  left: -180px;
  bottom: 0;
  width: 725px;
  height: 725px;
  z-index: 4;
  background-image: url(../img/holiday/dots-2.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}

.holiday__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 5;
}

.holiday__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 0;
}

.holiday__title:not(:last-child) {
  margin: 0px 0px 1.3095238095em 0px;
}

.holiday__items {
  width: 100%;
}

.holiday .paginations-slider {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  pointer-events: none;
  z-index: 10;
}

.holiday .paginations-slider__arrow-prev ._icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.holiday .slider-arrow {
  width: 35px;
  height: 55px;
  background-color: #000;
  pointer-events: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.holiday .slider-arrow ._icon {
  fill: #fff;
  width: 22px;
  height: 22px;
}

.holiday__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.holiday__picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  z-index: 3;
  background-color: #000;
}

.holiday__picture::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}

.item-holiday__picture {
  display: block;
  overflow: hidden;
  padding: 0px 0px 42.735042735% 0px;
  position: relative;
}

.item-holiday__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-holiday__body {
  margin: 20px 0px 0px 0px;
}

.item-holiday__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 122.2222222222%;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.team::before {
  content: "";
  position: absolute;
  left: 200px;
  bottom: -450px;
  width: 725px;
  height: 725px;
  z-index: 4;
  background-image: url(../img/holiday/dots-1.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}

.team::after {
  content: "";
  position: absolute;
  top: 65px;
  right: -200px;
  width: 725px;
  height: 725px;
  z-index: 4;
  background-image: url(../img/holiday/dots-2.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}

.team__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 5;
}

.team__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__title:not(:last-child) {
  margin: 0px 0px 1.3095238095em 0px;
}

.team__items {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.team__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  z-index: 3;
  background-color: #000;
}

.team__picture::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}

.item-team__picture {
  overflow: hidden;
  padding: 0px 0px 135.1351351351% 0px;
  position: relative;
}

.item-team__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-team__body {
  margin: 20px 0px 0px 0px;
}

.item-team__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 122.2222222222%;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.testimonials::before {
  content: "";
  position: absolute;
  left: 225px;
  bottom: -155px;
  width: 725px;
  height: 725px;
  z-index: 4;
  background-image: url(../img/testimonials/dots-2.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}

.testimonials::after {
  content: "";
  position: absolute;
  top: -85px;
  right: -500px;
  width: 725px;
  height: 600px;
  z-index: 4;
  background-image: url(../img/testimonials/dots-1.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}

.testimonials__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 5;
}

.testimonials__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials__title:not(:last-child) {
  margin: 0px 0px 1.3095238095em 0px;
}

.testimonials__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  gap: 50px 78px;
}

.testimonials__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonials__picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  z-index: 3;
  background-color: #000;
}

.testimonials__picture::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}

.item-testimonials__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-testimonials__image {
  display: block;
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0px 25px 0px 0px;
}

.item-testimonials__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 300;
  font-size: 18px;
  line-height: 122.2222222222%;
  text-transform: uppercase;
}

.item-testimonials__body {
  margin: 15px 0px 0px 0px;
}

.item-testimonials__text {
  font-weight: 300;
  line-height: 128.5714285714%;
}

.contacts::before {
  content: "";
  position: absolute;
  top: -130px;
  right: -145px;
  width: 725px;
  height: 725px;
  z-index: 4;
  background-image: url(../img/contacts/dots-2.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}

.contacts::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 950px;
  height: 230px;
  z-index: 4;
  background-image: url(../img/contacts/dots.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}

.contacts__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 5;
}

.contacts__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts__title:not(:last-child) {
  margin: 0px 0px 1.3095238095em 0px;
}

.contacts__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__details {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.contacts__info {
  margin: 0px 0px 85px 0px;
}

.contacts__location {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts__location iframe {
  display: none;
}

.contacts__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 165px;
  height: 165px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.contacts__btn span {
  font-size: 14px;
  line-height: 157.1428571429%;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}

.contacts__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts__picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  z-index: 3;
  background-color: #000;
}

.contacts__picture::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}

.info-contacts__address {
  margin: 0px 0px 20px 0px;
}

.info-contacts__email {
  margin: 0px 0px 20px 0px;
}

.info-contacts__email-text {
  position: relative;
}

.info-contacts__email-text::after {
  content: "";
  position: absolute;
  bottom: -6.5px;
  left: 50%;
  background-color: #fff;
  height: 1px;
  width: 0;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.info-contacts__phone-text {
  position: relative;
}

.info-contacts__phone-text::after {
  content: "";
  position: absolute;
  bottom: -6.5px;
  left: 50%;
  background-color: #fff;
  height: 1px;
  width: 0;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-right-width: 1px;
}

.form__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  border-left-width: 1px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 992px) {
  .btn:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }

  .social-list__link ._icon:hover {
    fill: aqua;
  }

  .menu__item:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    pointer-events: auto;
  }

  .menu__item:hover .menu__arrow {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }

  .menu__link:hover::after {
    width: 100%;
    left: 0;
  }

  .menu__sub-link:hover::after {
    width: 100%;
    left: 0;
  }

  .info-header__link:hover::after {
    width: 100%;
    left: 0;
  }

  .info-contacts__email-text:hover::after {
    width: 100%;
    left: 0;
  }

  .info-contacts__phone-text:hover::after {
    width: 100%;
    left: 0;
  }
}

@media (max-width: 1200px) {
  ._title {
    font-size: calc(24px + 18 * ((100vw - 320px) / 880));
  }

  ._text {
    font-size: calc(16px + 2 * ((100vw - 320px) / 880));
  }

  .about::before {
    width: calc(320px + 405 * ((100vw - 320px) / 880));
  }

  .about::before {
    height: calc(320px + 405 * ((100vw - 320px) / 880));
  }
}